################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xabe.FileLock/obj
/Xabe.FileLock/nuget
/Xabe.FileLock/bin/Release/netstandard1.3
/Xabe.FileLock.Test/obj
/Xabe.FileLock.Test/bin/Debug/netcoreapp2.0
/Xabe.FileLock/bin/Debug/netstandard1.3
/.vs/Xabe.FileLock/v15/sqlite3
/.vs
