################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xabe.FileLock/obj
/Xabe.FileLock/nuget
/Xabe.FileLock/bin/Release/netstandard1.3
/Xabe.FileLock.Test/obj
